<div class="container">
	<div class="page-header">
		<h1>Backbone.js Music Player <small>by <a href="http://www.johnmegahan.me">Johnny Megahan</a> // music from <a href="http://www.gatesnj.com">gates</a> & <a href="http://straylightrun.com">Straylight Run</a></small></h1>
	</div>
	<div class="row">
		<div class="span2">
			<nav class="albums"></nav>
		</div>
		<div class="span3">
			<nav class="playlist"></nav>
		</div>
		<div class="span7">
			<div class="now-playing"></div>
		</div>
	</div>
	<footer class="footer">
		<div class="alert alert-info"><strong>FYI:</strong> All music included was at one point made available online free by the artists. <a href="#notesModal" role="button" class="pull-right" data-toggle="modal">View Dev Notes</a></div>
		<div class="dev-notes"></div>
	</footer>
</div>