<div class="modal hide fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="notesModalLabel">Developer Notes</h3>
	</div>
	<div class="modal-body">
		<h3>Hi, guys.</h3>
		<p>Here's a quick mp3/ogg player based on backbone.js. It works in Safari/Firefox/Chrome (tested in iOS 6 and iOS 5 iphone/ipad). Here are a few of the decisions I made and why I made them. I was told not to spend more than four hours on it. Truthfully, I spent a little more than that on account of trying a few new tools I hadn't used before and getting the build process tweaked for posting to github-hosted pages.</p>
		<p><strong>Backbone Boilerplate</strong><br>The quickest way I know of to get a solid modular backbone.js project up and running is Backbone Boilerplate. A few taps on the command line and you've got the scaffolding set up for a project. I have to admit that a good bit of the early time I spent on this was wasted by trying to use some of the newer Backbone Layout Manager techniques without having updated the code to the latest version. Once that was updated, it was simply a matter of creating the modules necessary for the app.</p>
		<p><strong>Twitter Bootstrap</strong><br>Since time was of the essence and because I'm not the prettiest drawer, I used the Twitter Bootstrap library to round the corners and set up the grid. It does leave it a bit generic looking, but it is clean and reflects my general style choices.</p>
		<p><strong>HTML5 Audio</strong><br>I gave HTML5 audio a shot for one big reason... this is a new laptop and I don't have flash installed. It's a fairly simple API, compared to some of the new browser APIs. Anything that can play mp3 will go for it, but I did have to convert the music to OGG format in order to get something working on Safari, Chrome and Firefox. If you look at the data structure, you'll see I initially planned to have a flash fallback for browsers that don't support the new HTML5 Audio tag, but I tried to keep the total time on the project as close to the allotted 4 hours as I could.</p>
		<p><strong>Performance / Class Warfare</strong><br>If you look at the code, you'll notice I used all classes. Even in the cases where an ID would have been much more performant. I did this for one reason: because I initially was going to try to make the player modular enough that you could drop two on the same page. I eventually realized that I didn't have the time for that. When I usually release things, I have a run through Chrome's CSS Selector Audits and try and nail down the costly ones. I also used a number of views. Views can get a little expensive, but make it so much easier to pass data around. There have been times where the best bet for me was to have thirty views on a page. Although I only used four here. (This popup is one of them.)</p>
		<p><strong>PushState: False</strong><br>Up until I posted this on the server, I was using PushState: true. Sadly, the github servers that I host this site on wouldn't work with that. If you tried to refresh a deep-link, you would get a 404. I turned pushstate off to get those links working again. Rest assured that pushstate works.</p>
		<p><strong>Url Scheme</strong><br>After I got about halfway through the project, I realized that I had picked a non-restful URL scheme. I went forward with it, but if I were spending any more time on this, I would definitely fix that first.</p>
		<p><strong>Meta Data</strong><br>I made an initial attempt to load the raw data into an object in javascript and parse out the ID3 data, but realized that it wouldn't work unless the music files and the app were hosted on the same domain. I stored the files on dropbox, so that wouldn't work. I stored some meta data in the JSON and used that to display the album/cover/titles/artist. The current/total times are calculated entirely in javascript. With more time, I would have tried getting the files on the same domain and parseing that info out. It wouldn't be too hard to fall back to relying on Flash for that information if I wasn't able to parse.</p>
		<p><strong>Modular</strong><br>I tried to separate everything nicely to be reusable. For the most part I'm happy with the way things went, though I'd take a huge swing at another chance to write the code that actually interacts with the browser's Audio API. That could have been abstracted a little better.</p>
		<p><strong>CSS3</strong><br>I didn't make huge use of CSS3, but the spinning loading indicator on the play button and the animated progress bar are CSS3.</p>
		<p><strong>Features</strong><br>Maybe that's too strong of a word for what these are...</p>
		<dl>
			<dt>Play/Pause</dt>
			<dd>Like a boss.</dd>
			<dt>Back/Next</dt>
			<dd>You can also loop around from front->back and back->front</dd>
			<dt>Scrubbing</dt>
			<dd>Click anywhere on the progress indicator.</dd>
			<dt>Autoplay</dt>
			<dd>It will automatically start the next track when a song finishes.</dd>
			<dt>Browsing</dt>
			<dd>You can look through the other albums while you're playing.</dd>
			<dt>G.o.o.d. Music</dt>
			<dd>Gates is my favorite new band. New Jersey exports one good thing... music. These early Straylight Run demos may not sound special, but they blew my 18 year old mind. When they were posted in 2003, it was the first time I had heard a 'real' band posting free music on their website to get interest/buzz.</dd>
		</dl>
		<p>Let me know if you have any questions/comments/concerns!</p>
		<div><h3>Thanks,</h3><p><a href="mailto:johnmegahan@gmail.com">Johnny Megahan</a></p></div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>